<% if current_user.follows?(user) %>
  <% button_text = 'followed' %>
<% else %>
  <% button_text = 'unfollowed'  %>
<% end %>


<!-- TODO -->
<button class="follow-toggle"
        data-user-id="<%=user.id%>"
        data-initial-follow-state="<%=button_text%>"></button>
